* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* || GENERAL STYLES */
body {
  background-color: black;
}

h3 {
  padding-top: 1rem;
}

p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

i {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

button {
  color: blue;
  border: none;
  background-color: white;
  padding: 0rem 1rem 0rem 0rem;
}

/* || UTILITIES */

/* || SITEWIDE */
.container {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 1rem 1rem;
}
.card-image {
  height: 280px;
  margin-bottom: 15px;
  border-radius: 10px 10px 0px 0px;
}

.image-1 {
  background-image: url(/images/hero-image-mobile.jpg);
  max-inline-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-content {
  padding: 1rem 1rem;
}

.title {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.footer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.card-buttons {
  display: inline;
}

.card-icons {
  display: inline;
  padding: 0rem 1rem;
  justify-content: flex-end;
}
